<div id="admin-login-form" class="modal">
    <div class="modal-content">
        <form id="admin-login-form" class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text">Bluegrass Admin Login</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="admin-name" type="text">
                    <label for="admin-name" class="center-align">AdminName*</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="admin-password" type="password">
                    <label for="admin-password" class="">Password*</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a href="/" id="btn-admin-login" class="btn waves-effect waves-light col s12">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
