@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="row">
        <div class="col s2">
            <img id="profile-pic-view" class="circle"/>
        </div>

        <div class="col s10">
            <table class="striped">
                <tbody>
                    <tr>
                        <td class="col-icon"><i class="material-icons">person</i></td>
                        <td><span id="view-fullname"></span></td>
                    </tr>
                    <tr>
                        <td class="col-icon"><i class="material-icons">email</i></td>
                        <td><span id="view-email"></span></td>
                    </tr>
                    <tr>
                        <td class="col-icon"><i class="material-icons">contact_phone</i></td>
                        <td><span id="view-phone"></span></td>
                    </tr>
                    <tr>
                        <td class="col-icon"><i class="material-icons">my_location</i></td>
                        <td>
                        <span id="view-country"></span></td>
                    </tr>
                    <tr>
                        <td class="col-icon"><i class="material-icons">location_on</i></td>
                        <td><span id="view-city"></span></td>
                    </tr>
                    <tr>
                        <td class="col-icon"><i class="material-icons">perm_identity</i></td>
                        <td><span id="view-gender"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

