@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col s4">
        <div class="row">
            <div class="input-field col s11">
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">search</label>
            </div>
            <div class="input-field col s1" id="clear-icon">
                <i class="material-icons">clear</i>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="row">
            <div class="input-field col s12">
                <select id="select-country" onChange="bindCityDropDown()">
                </select>
                <label>Country*</label>
            </div>

        </div>
    </div>

    <div class="col s4">
        <div class="row">
            <div class="input-field col s12">
                <select id="select-city" onChange="doCitySearch()">
                </select>
                <label>City*</label>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <table id="tbl-people-details" class="table responsive-table highlight">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody id="people-details-body">
        </tbody>
    </table>
</div>


<div id="viewpersonmodal" class="modal modal-fit-content">
    <div class="modal-content">
        <partial name="~/Views/PartialViews/ViewPersonDetails.cshtml" />
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>



@section Scripts {

    <script src="~/js/client.js" type="text/javascript"></script>
}



